* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}

main {
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 70px;
  min-height: 100vh;
}
